physik411-10-Aufgaben.pdf
physik411-10-Martin.aux
physik411-10-Martin.bbl
physik411-10-Martin.blg
physik411-10-Martin.fdb_latexmk
physik411-10-Martin.fls
physik411-10-Martin.log
physik411-10-Martin.out
physik411-10-Martin.pdf
3.xoj
3d.nb
3e.nb
