1.xoj
physik411-07-Aufgaben.pdf
physik411-07-Martin.aux
physik411-07-Martin.fdb_latexmk
physik411-07-Martin.fls
physik411-07-Martin.log
physik411-07-Martin.out
physik411-07-Martin.pdf
2.nb
2.xoj
3.xoj
4.xoj
physik411-07-Martin.bbl
physik411-07-Martin.blg
3.nb
