1.xoj
2.xoj
physik411-11-Aufgaben.pdf
physik411-11-Martin.aux
physik411-11-Martin.bbl
physik411-11-Martin.blg
physik411-11-Martin.fdb_latexmk
physik411-11-Martin.fls
physik411-11-Martin.log
physik411-11-Martin.out
physik411-11-Martin.pdf
